@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Paleta de Cores

#03658C --> Azul 'Escuro'
#4E8DA6 -->  Azul 'Médio'
#88B5BF --> Azul 'Bebê'
#595958 --> Cinza
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Fontes

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


html, body{
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}
.div-mae{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

.div-mae-content{
    max-width: 1400px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 18px;
}

footer{
    position: relative;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    background-color: #03658C;
    color: white;
    padding: 1.2em;
    text-align: center;
}

#SOS_ENCHENTES{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.8rem;
    margin: auto;
}

#logoSE{
    height: 50px;
    width: 50px;
    margin: 0;
}

.headerContainer{
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    color: #000;
}

.social-bar{
    background-color: #03658C;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 10;
}

.social-bar .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    text-decoration: none;
    margin: 0px 10px;
    display: inline-block;
}

.social-icon img{
    width: 24px;
    height: 24px;
}

.navbar{
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 900;
}

.icon{
    color: white;
}


#imagem1{
    margin-bottom: 30px;
}

#imagem2{
    margin-bottom: 50px;
}

h1.tracinho{
    margin-bottom: 30px;
    margin-top: 30px;
}

.tracinho::before{
    content: '.';
    color: #03658C;
    background-color: #03658C;
}

.tracinho2::before{
    content: '.';
    color: #4E8DA6;
    background-color: #4E8DA6;
}

.tracinho2 > a{
    text-decoration: none;
}

.main-content{
    margin-top: 190px;
    flex: 1;
}

article{
    padding: 0 20px;
} 

.offcanvas{
    z-index: 10;
}

.offcanvas-header .btn-close{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1100;
    box-shadow: none;
}

.offcanvas-backdrop{
    z-index: 9;
}

.navbar-toggler:focus,
.navbar-toggler:active{
    box-shadow: none;
}

@media (max-width:1024px){
    .main-content{
       margin-top: 150px;
    }
}