@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Media Query 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


@media (max-width:1024px){
    .main-content{
       margin-top: 150px;
    }
}

@media (max-width: 680px) {
    .video-container {
        width: 500px;
    }
}

@media (max-width:524px){
    #footer-sobre,
    #footer-ajude,
    #footer-recuperacao{
        position: relative;
        bottom: 0;
        width: 100%;
    }  
    
    .main-content{
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Fontes importadas
----------------------------------------
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;  
    font-style: normal;
}  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Paleta de Cores
----------------------------------------
#03658C --> Azul 'Escuro'
#4E8DA6 -->  Azul 'Médio'
#88B5BF --> Azul 'Bebê'
#595958 --> Cinza
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



html, body{
    margin: 0;
    padding: 0;
}    

button{
    cursor: pointer;
}    

.main-content{
    margin-top: 190px;
    flex: 1;
}

.div-mae{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}    

.div-mae-content{
    max-width: 1400px !important;
    margin-left: 10px;
    margin-right: 10px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 18px;
}

#img-pix,
#canvaSOS{
    width: 390px;
    height: auto;
    margin-bottom: 22px;
}

#img1-recuperacao{
    width: 544px;
    height: 224px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#vd1-recuperacao{
    width: 500px;
    height: auto;
}

#hr-da-salvacao{
    margin-top: 30px;
    margin-bottom: 30px;
}

#telefone-icon{
    width: 28px;
    height: 28px;
}

#prevencao-video1{
    margin-bottom: 50px;
}

#h1-planos-emergencia,
#h1-medidas-prevencao{
    margin-top: 100px;
}

#footer-sobre{
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}


#section-contatos-emergencia{
    margin-top: 80px;
}

#section-abrigos-temp{
    margin-top: 80px;
    margin-bottom: 35px;
}

#ul-contatos-emergencia{
    list-style-type: none;
}

#h1-quem{
    font-size: 26px;
    margin-bottom: 25px;
}

#ajude-h1{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 45px;
    color: #88B5BF;
    font-weight: bolder;
    font-family: "Bebas Neue", sans-serif;
}

#main-h1-prevencao{
    margin-top: 200px;
}

#main-h1-emergencia{
    margin-top: 200px;
    margin-bottom: 60px;
}

#emergencia-h1-top{
    color: #cd1d1d;
}

#hr-imediatas{
    margin-bottom: 40px;
}

#h2-1-emergencia{
    margin-bottom: 40px;
    margin-top: 60px;
}

#h2-1-recuperacao{
    margin-top: 50px;
    margin-bottom: 30px;
}

#h3-1-recep{
    margin-bottom: 20px;
}

#first-h2-prevencao,
#second-h2-prevencao{
    margin-bottom: 40px;
}

#article2-sobre{
    margin-top: 50px;
}

#article2-sobre > h2,
#h2-objetivo-sobre{
    margin-bottom: 10px;
}

#h2-objetivo-sobre{
    margin-top: 30px;
}

#hr1-prevencao{
    margin-top: 30px;
    margin-bottom: 30px;
}

#a-click-temp,
#a-click-temp2{
    text-decoration: none;
    cursor: pointer;
}

#hr-between-abg-contt{
    margin-top: 25px;
    margin-bottom: 25px;
}

#section-contatos-emergencia > ul > li{
    font-size: 19px;
}

#abrig-temp,
#abrig-temp2{
    text-decoration: underline;
}

#ult-not-margin{
    margin-top: 10px;
}

#img-tab-mon-abg{
    width: 640px;
    height: 370px;
}

#contt-emerg{
    margin-top: 20px;
    margin-bottom: 35px;
}

#h2-to-nem-ai-mais{
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 45px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    color: #88B5BF;
}

.tracinho-red::before{
    content: '.';
    color: #cd1d1d;
    background-color: #cd1d1d;
}

.span-contatos-emergencia{
    color: #cd1d1d;
}

.h2-font-weight-bolder{
    font-weight: bolder;
}

.h3-font-weight-bolder{
    font-weight: bolder;
    font-size: 18px;
}

footer{
    position: relative;
    bottom: 0;
    margin-top: 100px;
    width: 100%;
    background-color: #03658C;
    color: white;
    padding: 1.2em;
    text-align: center;
}

article{
    padding: 0 20px;
} 

.footer-sobre{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.align-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container{
    max-width: 100%;
    height: auto;
}

#SOS_ENCHENTES{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.8rem;
    margin: auto;
}

#logoSE{
    height: 50px;
    width: 50px;
    margin: 0px 0px 8px 0px;
}

.headerContainer{
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    color: #000;
}

.social-bar{
    background-color: #03658C;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 10;
}

.social-bar .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon{
    text-decoration: none;
    margin: 0px 10px;
    display: inline-block;
}

.social-icon img{
    width: 24px;
    height: 24px;
}

.navbar{
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 900;
}

.icon{
    color: white;
}


#imagem1{
    margin-bottom: 30px;
}

#links{
    margin-top: 100px;
    margin-bottom: 25px;
}

#uniesp{
    color: #ff1111;
    font-weight: bold;
    cursor: pointer;
}

#uniesp > a{
    text-decoration: none;
    color: #ff1111;
}

.li-active:active{
    background-color: #000;
}

h1.tracinho{
    margin-bottom: 50px;
    margin-top: 30px;
}

.content-margin-top{
    margin-top: 30px;
}

.tracinho::before{
    content: '.';
    color: #03658C;
    background-color: #03658C;
}

.tracinho2::before{
    content: '.';
    color: #4E8DA6;
    background-color: #4E8DA6;
}

.tracinho2 > a{
    text-decoration: none;
}

.offcanvas{
    z-index: 10;
}

.offcanvas-header .btn-close{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 15;
    box-shadow: none;
}

.offcanvas-backdrop{
    z-index: 9;
}

.navbar-toggler:focus,
.navbar-toggler:active{
    box-shadow: none;
}

.navbar-brand{
    padding: 15px;
}

